/*
COLORS TO USE  
Gold color: #EFC69B
Red color: #AF1B3F
Dark color: #473144
*/

body {
    font-family: Helvetica, Arial, sans-serif
}

main { 
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

header {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 25% 25% 25% 25%;
    color: #473144;
}

header h1 {
    grid-column: 2;
}

.border1, .border2 {
    border-bottom: solid #EFC69B 2px;
}

.border1 {
    grid-column: 1/5;
    grid-row: 2;
}

.border2 {
    grid-column: 1/5;
    grid-row: 4;
}

nav {
    grid-row: 3;
    grid-column: 3;
    font-size: 20px;
    margin-right: 80px;
}

a {
    text-decoration: none;
    color: #AF1B3F;
}

li {
    list-style-type: none;
}
.main-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

#maincontent {
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

article {
    grid-column: 1/3;
    display: flex;
    gap: 20px;
}

.date-genre {
    width: 20%;
}

.book-info {
    flex-grow: 1;
}

form {
    grid-column: 3;
}

img {
    height: 200px;
    width: 200px;
}

