body {
    font-size: 20px;
    font-family: 'Times New Roman', serif;
    
}

.dark {
    background-color: #333;
    color: white;
}

.main-content {
    border: 2px solid lightgrey;
    padding: 70px;
    padding-left: 150px;
    padding-right: 150px;
}

h1 {
    margin-bottom: 25px;
}

h2 {
    color: #214491; /*Taken from byui.edu/branding/color-guide "Combined with Brand Blue, we typically use black, white, and gray. Together we refer to these as the "BYU-Idaho Brand Colors."" */
    border-bottom: 2px solid lightgrey;
    padding-bottom: 5px;
    font-size: 15px;
    margin-bottom: 50px;
    font-weight: 10;
}

.dark h2 {
    color: #4F9ACF; 
    /* ADDED .dark for contrast */
}

h1, h2 {
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
}

p {
    text-align: left;
    line-height: 30px;
}

.main-content {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.points li {
    margin-bottom: 25px;
    text-align: left;
}

img {
    margin-top: 40px;
    width: 150px;
}

select {
    border: 2px solid #006EB6;
    text-align: center;
    border-radius: 10px;
}