@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");
header {
    padding: 10px;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    align-items: center;
}

body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: 15px;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    bottom: 5px;
    height: 15px;
    font-size: 15px;
}

header h1 {
    font-family: 'Mooli', sans-serif;
    font-size: 2.5em;
    margin: 0;
}

a {
    color: #5492d4;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2em;
    border-bottom: 2px solid white;
}

img {
    display: grid;
    align-content: center;
    max-width: 250px;
    height: 250px;
    object-fit: cover;
    border: 10px solid white;
}

ul {
    display: none;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
}

.menu-button {
    all: unset;
    font-size: 30px;
    color: white;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    justify-items: center;
    font-size: 20px;
}

ul li a {
    display: block;  
}

.hide {
    display: flex;
}
.viewer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: grid;
    place-items: center; 
    z-index: 10; 
}

.viewer figure {
    position: relative;
}

.viewer img {
    max-width: 90%;
    max-height: 90%;
    height: auto;
    display: block;
}

.close-viewer {
    position: absolute;
    top: -50px;
    right: -25px;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
    z-index: 20;
}

.works {
    display: grid;
    text-align: center;
}

/* Medium Screen Styles */
@media screen and (min-width: 700px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    ul {
        display: none !important;
    }
}

/* Large Screen Styles */
@media screen and (min-width: 1000px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    ul {
        display: flex !important;
        flex-direction: row;
        list-style: none;
        gap: 30px
    }

    .menu-button{
        display: none;
    }

    .viewer img {
        width: 900px;
        max-height: 50%;
    }
}